<ion-content>
  <div class="container">
    <label>Informations autour de moi</label>
    <ion-list *ngIf="!loading; else loadingTemplate">
      <ion-item *ngFor="let item of items">
        <ion-label>
          <h2>{{ item.typeProbleme }}</h2>
          <p>{{ item.description }}</p>
          <small>
            {{ item.dateCreation | date: 'short' }}
            &bull; {{ item.distance | number: '1.0-0' }} m
          </small>
        </ion-label>

      </ion-item>
    </ion-list>
    <ng-template #loadingTemplate>
      <ion-spinner></ion-spinner>
      <p>Loading signalements...</p>
    </ng-template>
  </div>
</ion-content>
