<ion-header>
  <ion-toolbar>
    <ion-title>Signaler un problème</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="signalementForm">
    <ion-item>
      <ion-label>Nature du problème</ion-label>
      <ion-select formControlName="typeProbleme" placeholder="Sélectionner">
        <ion-select-option value="travaux">Travaux</ion-select-option>
        <ion-select-option value="Ascenseur">Ascenseur en panne</ion-select-option>
        <ion-select-option value="Voirie">Voirie impraticable</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Lieu</ion-label>
      <ion-select formControlName="lieu" placeholder="Localisation">
        <ion-select-option value="maloc">Ma localisation</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Commentaire</ion-label>
      <ion-textarea formControlName="description" placeholder="Ajouter un commentaire"></ion-textarea>
    </ion-item>

    <ion-button expand="full" (click)="envoyerSignalement()">Envoyer</ion-button>
  </form>
</ion-content>
